build-Game_Of_Life-Desktop_Qt_5_8_0_MinGW_32bit-Debug/.qmake.stash
build-Game_Of_Life-Desktop_Qt_5_8_0_MinGW_32bit-Debug/assets/vplay-logo.png
build-Game_Of_Life-Desktop_Qt_5_8_0_MinGW_32bit-Debug/debug/Game_Of_Life.exe
build-Game_Of_Life-Desktop_Qt_5_8_0_MinGW_32bit-Debug/debug/qrc_resources_user.o
build-Game_Of_Life-Desktop_Qt_5_8_0_MinGW_32bit-Debug/qml/entities/Cell.qml